main {
  display: flex;
  justify-content: center;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  width: 350px;
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

img {
  width: 300px;
}

#answerImg {
  width: 170px;
}

.continentButtons {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: auto;
}

button {
  margin-top: 3px;
}